<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="dist/common.css">
    <link rel="stylesheet" href="dist/index.css">
</head>
<body>
    <div class="header clearfix">
    <div class="personal clearfix">
        <img  class="avatar" src="img/avatar2.png" alt="">
    </div>
        <ul class="nav clearfix">
            <li>
                <a href="/">首页</a>
            </li>
             <li>
                <a href="/about">关于</a>
            </li>
             <li>
                <a href="/list">博客列表</a>
            </li>
            <%if(hasUser){ %>
             <li>
                <a href="/write">写博客</a>
            </li>
            <%}%>
             <li>
                <p>搜索:<input type="text"></p>
            </li>
        </ul>
    </div>